/venv
.vscode

/pix

__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

beatrix-debug-monitor/lib
beatrix-controller/lib

beatrix-debug-monitor/guus tests

beatrix-data/processed-dataset

test.py
tests

LatestClassify.jpg